body {
  background-color: #000;
}

#snakeCanvas {
  position: absolute;
  top: 123px;
  left: 32px;
  width: 140px;
  height: 97px;
  border-radius: 8px;
}

.phone {
  background: url('nokia-3310.jpg') no-repeat;
  background-size: cover;
  height: 460px;
  width: 197px;
  margin: 0 auto;
  position: relative;
  border-radius: 30px/90px;
}
